.datos {
    border-collapse: collapse;
    width: auto;
    text-align: center;
}

.datos td, .datos th {
    border: 1px solid #ddd;
    padding: 8px;
}

.datos tr:nth-child(even){
    background-color: #f2f2f2;
}

.datos tr:hover {
    background-color: #ddd;
}

.datos th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0094d5;
    color: white;
}

#borrarTransaccion {
    margin-top: 2em;
}

.expand {
    width: 20em;
}