html, body{
    min-width:100%;
    padding: 0;
    margin: 0;
}

.fullWidth {
    background-color: #212830;
    color: white;
    width: 100%;
}

.center {
    text-align: center;
}

.white{
    background-color: white;
}

/* HEADER */

#header > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#topHeader > li {
    float: left;
}

#topHeader > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#logo {
    padding: 0.2em 6em 0 2em;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#search {
    background-color:black; padding:20px;
}

input[type="text"] {
    padding: 7px;
    font-family: helvetica, arial, sans-serif;
    font-size: 1.2em;
    margin-bottom: 20px;
    display: block;
    border: solid 2px #bbb;
    color: #6f6f6f;
}

input[type="submit"] {
    background-color: #fafafa;
    font-family: helvetica, arial, sans-serif;
    font-size: 1.0em;
    font-weight:bold;
    padding: 7px;
    color: #6f6f6f;
}

input[type="submit"]:hover {
    background-color: #ff379f;
    color: #fafafa;
}

#searchInput {
    vertical-align: top;
    display:inline-block;
    font-size:0.9em;
    font-weight:400;
    border:0;
    width:250px;
    height:40px;
    margin:0;
}

#searchButton {
    display:inline-block;
    border: 1px solid black;
    border-width:0px 0px 0px 0px;
    margin:0;
    width:40px;
    height:40px;
    background:url(/Images/Icons/search.png) no-repeat center;
    background-color: #0094d5;
}


/* FOOTER */

#copyright {
    background-color: #0094d5;
    padding: 1em 0;
    font-size: 1.1em;
}

#finalIcons {
    margin:0 auto 0 auto;
    text-align:center;
    padding-top: 1em;
}

#finalIcons img {
    display:inline-block;
    max-width: 25%;
    margin-left: 4em;
    max-height: 50px;
}

#nintendo3DSLogo {
    margin-left: 7em;
}

#paypalLogo {
    margin-right: 7em;
}