html, body{
    min-width:100%;
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.fullWidth {
    background-color: #212830;
    color: white;
    width: 100%;
}

.center {
    text-align: center;
}

.white{
    background-color: white;
}

.left{
    float: left;
}

.right {
    float: right;
}

/* HEADER */

.linkHeader {
    display: block;
    color: white;
    text-align: center;
    padding: 0.85em 1em;
    text-decoration: none;
}

#header > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#topHeaderLeft {
    /*width: 68%;
    min-width: 40%; */
    float: left;
}

#topHeaderLeft > li {
    float: left;
    min-width: 35%;
}

#topHeaderRight {
    /*width: 28%;
    min-width: 30%;*/
    float: right;
}

#topHeaderRight > li {
    float: right;
}

#topHeaderRight img {
    margin: 10px;
}

#logo {
    padding: 0.2em 6em 0 2em;
    margin-top: 0.3em;
}

#search {
    padding: 0.8em;
    margin-top: 0.3em;
}

#searchInput {
    vertical-align: top;
    display: inline-block;
    font-size: 0.9em;
    font-weight: 400;
    border: 0;
    width: 25em;
    height: 40px;
    margin: 0;
    padding-left: 1em;
    border-radius: 0.5em 0 0 0.5em;
}

.icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 0.5em;
    text-align: center;
    vertical-align: middle;
}

#searchButton {
    background:url(/Images/Icons/search.png) #0094d5 no-repeat center;
    display: inline-block;
    border: 0 solid #212830;
    margin: 0;
    border-radius: 0 0.5em 0.5em 0;
}

#registerIcon {
    background:url(/Images/Icons/clientWhite.png) #0094d5 no-repeat center;
}

#registerLink:hover #registerIcon {
    background:url(/Images/Icons/clientBlue.png) white no-repeat center;
}

#loginIcon {
    background:url(/Images/Icons/loginWhite.png) #0094d5 no-repeat center;
}

#loginLink:hover #loginIcon {
    background:url(/Images/Icons/loginBlue.png) white no-repeat center;
}

#userCookie {
    font-size: 1.2em;
    padding-top: 1.6em;
    margin-right: 1em;
}

#inputs input {
    background: #f1f1f1;
    padding: 6px 5px;
    margin: 0 0 5px 0;
    width: 238px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    box-shadow: 0 0 0 1px #e8c291 inset;
}

#login label {
    float: right;
    line-height: 30px;
}

#login label input {
    position: relative;
    top: 2px;
    right: 2px;
}

#cartIcon {
    background:url(/Images/Icons/cartWhite.png) #0094d5 no-repeat center;
}

#cartLink:hover #cartIcon {
    background:url(/Images/Icons/cartBlue.png) white no-repeat center;
}

#cartLink {
    margin-right: 3em;
}

#menusSeparator {
    background-color: #38424e;
}

/* MENU */

#menu img {
    height: 40px;
    text-align: center;
    vertical-align: middle;
}

#menu {
    width: 100%;
    display: table;
    text-align: center;
    background-color: #505050;
}

#menu li {
    display: inline-block;
    float: none;
    width: 20%;
    margin: 0.5em 0;
}

#menu li a, a:visited {
    color: white;
    text-decoration: none;
}

/* TOP NEW */

#mainNewGames {
    background-color: black;
    max-width: 65%;
    margin: auto;
    color: white;
    text-align: center;
    font-size: 1.3em;
    margin-top: 1em;
    margin-bottom: 0px;
}

#gameTopTitle {
    height: 1.3em;
    padding-top: 0.4em;
}

#separatorTopTitle {
    background-color: orange;
    height: 0.5em;
}

/* TOP */

.gamesList {
    background-color: white;
    list-style: none;
    max-width: 65%;
    margin: auto;
    display: table;
}

.gamesList li {
    width: 25%;
    float: left;
    padding: 0.5em;
    margin: 0;
    height: 28em;
}

.gamesList a {
    text-decoration: none;
}

.gamesList p {
    color: black;
    margin-bottom: 0;
    padding-bottom: 0;
}

#topPriceGame {
    float: left;
    color: orange;
    margin-left: 1em;
}

.topPlatform {
    float: right;
    display: table;
    margin-right: 1em;
}

.topFront {
    width: 100%;
    height: auto;
}

.topGameName {
    text-align: center;
}

.reducedIcon {
    max-height: 2em;
    width: auto;
    margin-top: 0.7em;
}

.topPricePlatform {
    display: table;
    width: 100%;
    vertical-align: middle;
    margin-top: 0;
}

/* FOOTER */

#copyright {
    background-color: #0094d5;
    padding: 1em 0;
    font-size: 1.1em;
    margin-top: 2em;
}

#finalIcons {
    margin:0 auto 0 auto;
    text-align:center;
    padding-top: 1em;
}

#finalIcons img {
    display:inline-block;
    max-width: 25%;
    margin-left: 4em;
    max-height: 50px;
}

#nintendo3DSLogo {
    margin-left: 7em;
}

#paypalLogo {
    margin-right: 7em;
}

#gameDataBox{
    background-color: black;
    color: white;
}

#separatorOrange {
    margin-bottom: 0.3em;
}

#game {
    width: 80%;
    margin: auto;
    margin-top: 2em;
}

#gamePhotos {
    display: inline-block;
}

.gamePhoto {
    float: left;
    width: 20%;
}

#gameDescription {
    margin: 5px 15px;
}

#gameName {
    background-color: black;
    color: white;
    font-size: 1.2em;
    padding: 0.2em 2em;
}

#gameSeparatorBoxes{
    margin-top: 20em;
}

#gameFront {
    max-width: 20%;
    height: auto;
    margin-bottom: 1em;
}

#gameFront img {
    max-width: 100%;
    height: auto;
}

#gameBuy {
    width: 69%;
    height: auto;
}

.bigPrice {
    font-size: 3em;
}

.bigPlatform {
    margin-top: 3em;
}

.oneLine {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: auto;
}

.hider {
    display: none;
}

#buySellButtons {
    margin-bottom: 2em;
}

.photoCart {
    height: 10em;
    width: auto;
}

.bigText {
    font-size: 3em;
}
.reserve {
    padding: 5px 15px;
    background: #FFF380;
    color: black;
    border: 0 none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 1em;
    margin-top: 1em;
}

.buy {
    padding: 5px 15px;
    background: #4CC417;
    color: white;
    border: 0 none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 1em;
    margin-top: 1em;
}

.noStock {
    padding: 5px 15px;
    background: #DC381F;
    color: white;
    border: 0 none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 1em;
    margin-top: 1em;
    cursor: default;
}

.buttonGame {
    margin-left: 0.2em;
}

.inputQuantity {
    border-radius: 0.2em;
    font-size: 0.9em;
    font-weight: 400;
    margin: auto;
    width: 3em;
    text-align: center;
    border: 0px;
    margin-right: 0.2em;
}

.cartGame {
    width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.cartPhoto {
    width: 24%;
    height: 100%;
    float: left;
}

.cartData {
    width: 74%;
    color: black;
    font-style: normal;
    text-align: center;
    padding: 0 1.5em;
    float: right;
}

.cartPrice {
    color: black;
    float: left;
}

.sameLine2 {
    display: inline-block;
}

.nextGame {
    margin-bottom: 1em;
}

#result {
    text-align: center;
}