html, body{
    min-width:100%;
    padding: 0;
    margin: 0;
}

.fullWidth {
    background-color: #212830;
    color: white;
    width: 100%;
}

#header > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#topHeader > li {
    float: left;
}

#topHeader > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#searchButton {
    background:url(/Images/Icons/search.png) no-repeat center;
    background-color: #0094d5;
    cursor:pointer;
    border: none;
    width: 40px;
    height: 40px;
}

#searchInput {
    border: none;
    width: 40px;
    height: 40px;
}

.center {
    text-align: center;
}

.white{
    background-color: white;
}

#copyright {
    background-color: #0094d5;
    padding: 1em 0;
    size: 1em;
}

#finalIcons {
    margin:0 auto 0 auto;
    text-align:center;
    padding-top: 1em;
}

#finalIcons img {
    display:inline-block;
    max-width: 25%;
    margin-left: 4em;
    max-height: 50px;
}

#nintendo3DSLogo {
    margin-left: 7em;
}

#paypalLogo {
    margin-right: 7em;
}