html, body{
    min-width:100%;
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.fullWidth {
    background-color: #212830;
    color: white;
    width: 100%;
}

.center {
    text-align: center;
}

.white{
    background-color: white;
}

/* HEADER */

.linkHeader {
    display: block;
    color: white;
    text-align: center;
    padding: 0.85em 1em;
    text-decoration: none;
}

#header > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#topHeaderLeft {
    width: 70%;
    float: left;
    min-width: 40%;
}

#topHeaderLeft > li {
    float: left;
    min-width: 35%;
}

#topHeaderRight{
    width: 30%;
    float: right;
    min-width: 30%;
}

#topHeaderRight > li {
    float: right;
}

#topHeaderRight img {
    margin: 10px;
}

#logo {
    padding: 0.2em 6em 0 2em;
}

#search {
    padding: 0.8em;
}

#searchInput {
    vertical-align: top;
    display: inline-block;
    font-size: 0.9em;
    font-weight: 400;
    border: 0;
    width: 25em;
    height: 40px;
    margin: 0;
    padding-left: 1em;
    border-radius: 0.5em 0 0 0.5em;
}

.icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 0.5em;
    text-align: center;
    vertical-align: middle;
}

#searchButton {
    background:url(/Images/Icons/search.png) #0094d5 no-repeat center;
    display: inline-block;
    border: 0 solid #212830;
    margin: 0;
    border-radius: 0 0.5em 0.5em 0;
}

#registerIcon {
    background:url(/Images/Icons/clientWhite.png) #0094d5 no-repeat center;
}

#registerLink:hover #registerIcon {
    background:url(/Images/Icons/clientBlue.png) white no-repeat center;
}

#loginIcon {
    background:url(/Images/Icons/loginWhite.png) #0094d5 no-repeat center;
}

#loginLink:hover #loginIcon {
    background:url(/Images/Icons/loginBlue.png) white no-repeat center;
}

#cartIcon {
    background:url(/Images/Icons/cartWhite.png) #0094d5 no-repeat center;
}

#cartLink:hover #cartIcon {
    background:url(/Images/Icons/cartBlue.png) white no-repeat center;
}

#cartLink {
    margin-right: 3em;
}

#menusSeparator {
    background-color: #38424e;
}

#menu img {
    height: 40px;
    text-align: center;
    vertical-align: middle;
}

#menu {
    width: 100%;
    display: table;
    text-align: center;
}

#menu  li{
    display: inline-block;
    float: none;
}

@media screen and (max-width: 600px){

    #menu {
        background-color: purple;
        display: inline-grid;
    }

}

/* FOOTER */

#copyright {
    background-color: #0094d5;
    padding: 1em 0;
    font-size: 1.1em;
}

#finalIcons {
    margin:0 auto 0 auto;
    text-align:center;
    padding-top: 1em;
}

#finalIcons img {
    display:inline-block;
    max-width: 25%;
    margin-left: 4em;
    max-height: 50px;
}

#nintendo3DSLogo {
    margin-left: 7em;
}

#paypalLogo {
    margin-right: 7em;
}