#slider {
    background-color: #1b2838;
    max-width: 65%;
    padding: 0 5%;
    margin: auto;
    margin-top: 0px;
    display: table;
    margin-top: 1em;
    padding-bottom: 1%;
}

#slider a {
    text-decoration: none;
}

#slider {
    color: white;
}

#sliderPriceGame {
    color: #779cb0;
}

#sliderTitle {
    font-size: 1.5em;
    padding-top: 0.2em;
}

.sliderItem {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sliderLeft {
    width: 65%;
    float: left;
    text-align: center;
    vertical-align: middle;
}

#sliderRigth {
    width: 25%;
    float: right;
    margin-top: 0px;
    padding-top: 0px;
    color: white;
}

.sliderPhotosOfGame {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1b2838;
}

.sliderLittlePhotos{
    float: left;
    width: 50%;
    height: 6em;
}

.sliderFront {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 25em;
}

.sliderNameGame {
    margin-top: 0px;
    padding-top: 0px;
    font-size: 1.2em;
    max-height: 2em;
    height: 2em;
    min-height: 2em;
}

.sliderPricePlatform {
    display: table;
    width: 100%;
    vertical-align: middle;
    margin-top: 0.8em;
}

#sliderPriceGame {
    float: left;
}

.sliderPlatform {
    float: right;
    display: table;
}

.sliderPlatformGame {
    float: right;
    margin-left: 0.3em;
}

.hide  {
    display: none;
}